html,body{
	height:100%;
	margin:0;	
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
  	font-size: 0.9em !important;
}

.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -120px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
	height: 120px; /* .push must be the same height as .footer */
}

.botoes{
	font-size:13px !important;
	
}

.menu{
	font-size:13px !important;
}

.erro{
	font-size:13px !important;
	color:red !important;
	
}

.rowError{
	background-color:#F5A9A9 !important;
}

.ui-outputlabel{
	border: 0 !important;
}

.ui-panelgrid {
		
	
	
}


.ui-widget-content {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
	boder: none !important;
	background-color: white !important;
	font-size:12px !important;
}


.ui-widget {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
	font-size: 0.9em ;
}

.ui-panelgrid-cell{
	border-style:none !important;
	padding: 20 !important;
}

.ui-state-error{
	background:none;
}

.ui-menuitem {
background: rgba(246,255,163,1);
background: -moz-linear-gradient(top, rgba(246,255,163,1) 0%, rgba(255,230,138,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,255,163,1)), color-stop(100%, rgba(255,230,138,1)));
background: -webkit-linear-gradient(top, rgba(246,255,163,1) 0%, rgba(255,230,138,1) 100%);
background: -o-linear-gradient(top, rgba(246,255,163,1) 0%, rgba(255,230,138,1) 100%);
background: -ms-linear-gradient(top, rgba(246,255,163,1) 0%, rgba(255,230,138,1) 100%);
background: linear-gradient(to bottom, rgba(246,255,163,1) 0%, rgba(255,230,138,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6ffa3', endColorstr='#ffe68a', GradientType=0 );
}
