html,body{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
  	font-size: 0.9em !important;
  	width: 100%;
    height: auto;
	background-size: cover;
	background-repeat: no-repeat;
}

.statusDialogModal {
	top: 200px !important;
}

.card-panel.loginPanel{
	margin-top: 100px !important;
	background-color: rgba(255,255,255,0.7);
}

footer.page-footer {
	background-color: #0fa2ff !important;
	position: relative;
	top: 120px;
	bottom: 0px;
}

.ui-panelmenu-panel h3 {
	background: #00d5ff;
}

.ui-page {
	
		background-size:contain;
		background-position:center;
		background:none;
		background-size: cover;
		background-repeat: no-repeat;
}

.ui-mobile {
	height: auto;
	position: inherit;
}

.styleCenter {
	margin: auto !important;
}

.fc td.fc-today {
	background: rgba(20, 164, 255, 0.13) !important;
	color: black !important;
}

.btn-login-entrar{
		width: 100% !important;
		height: auto !important;
	}

[class*=ui-datepicker-today] > a {
	color: black !important;
	background: #68ff00 !important;
	-webkit-box-shadow: 0px 0px 7px #000 inset !important;
	-moz-box-shadow: 0px 0px 7px #000 inset !important;
	box-shadow: 0px 0px 7px #000 inset !important;
}

.ui-button.ui-state-default.btnDanger{
	border: 1px solid #222222 !important;
    color: #FFF !important;
    font-size: 12px !important;
    box-shadow: none !important;
    background: #222222 !important;
    background: -moz-linear-gradient(top, #27abff 0%, #059eff 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#222222)) !important;
    background: -webkit-linear-gradient(top, rgba(255, 39, 39, 0.83) 0%,#FF0505 100%) !important;
    background: -o-linear-gradient(top, #27abff 0%,#059eff 100%) !important;
    background: -ms-linear-gradient(top, #27abff 0%,#059eff 100%) !important;
    background: linear-gradient(top, #27abff 0%,#059eff 100%) !important;
    -webkit-transition: none !important;
}
button.ui-button.ui-state-default span, .btnDanger{
	text-shadow: none !important;
}

.ui-button.ui-state-default.btnDanger:hover{
	background: -webkit-linear-gradient(top, rgba(171, 0, 0, 0.83) 0%,#FF0000 100%) !important;
}

.servicoCanceladoSchedule {
	background: red !important;
}

.servicoPagoSchedule {
	background: green !important;
}

.servicoAgendadoSchedule {
	
}
.servicoCanceladoRow {
	background: #ffb7b8!important;
}

.servicoPagoRow {
	background: #b9ffb3!important;
}

.servicoAgendadoRow {
	background: #95d5fe!important;
}

.linkTransacao {
	text-decoration: none !important;
}

.linkTransacao:HOVER {
	background: gainsboro !important;
	text-decoration: none !important;
}

.linkTransacao:FOCUS {
	background: gainsboro !important;
	text-decoration: none !important;
}

.linkTransacao:ACTIVE {
	background: gainsboro !important;
	text-decoration: none !important;
}

.ui-selectonebutton > .ui-button:HOVER{
	opacity: 0.9;
	background: blue !important;
	box-shadow: none !important;
}


.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -120px; /* the bottom margin is the negative value of the footer's height */
}


.ui-dialog-content > .ui-icon {
    display: none !important;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
	background: none !important;
}

.ui-panel > .ui-panel-titlebar {
	font-size: 1.2em;
}

.ui-menubar > .ui-menu-list > .ui-menuitem > .ui-menuitem-link span.ui-icon-triangle-1-s {
	display: none;
}
	

.ui-confirm-dialog > .ui-dialog-content {
	display: none !important;
}

.perigo {
	border: 1px solid #D91616 !important;
    color: #FFF !important;
    font-size: 12px;
    box-shadow: 0 1px 0 #FF5353 inset, 0 1px 2px rgba(0,0,0,0.2) !important;
    background: #FF2727 !important;
    background: -moz-linear-gradient(top, #27abff 0%, #059eff 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF2727), color-stop(100%,#FF0505)) !important;
    background: -webkit-linear-gradient(top, #FF2727 0%,#FF0505 100%) !important;
}

.footer, .push {
	height: 120px; /* .push must be the same height as .footer */
}

.botoes{
	font-size:13px !important;
	
}

#panelGridFiltroServico_content {
	border: none !important;
}

.menu{
	font-size:13px !important;
}

.erro{
	font-size:13px !important;
	color:red !important;
	
}

.rowError{
	background-color:#F5A9A9 !important;
}

.ui-outputlabel{
	border: 0 !important;
}

.ui-panelgrid {
		
	
	
}

.ui-widget {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
	font-size: 0.9em ;
}

.ui-panelgrid-cell{
	border-style:none !important;
	padding: 20 !important;
}

.ui-state-error{
	background:none;
}